# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database files
*.wt
*.db
*.sqlite

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

tuneable-backend/data/db/*
!tuneable-backend/data/db/.keep

generateToken.js

